<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe5b2iVSZYrVTg5EgSeDGPn__mgkFm61g</string>
	<key>GCM_SENDER_ID</key>
	<string>1084582462207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marios.listtodo</string>
	<key>PROJECT_ID</key>
	<string>sharedtodoapp-ef38f</string>
	<key>STORAGE_BUCKET</key>
	<string>sharedtodoapp-ef38f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084582462207:ios:17e4187884e0db6d5902ca</string>
</dict>
</plist>